<?xml version="1.0" encoding="utf-8"?>
<!--https://github.com/DotNetAnalyzers/StyleCopAnalyzers/tree/master/documentation -->
<RuleSet Name="Rules for StyleCop.Analyzers" Description="C# code analysis rules." ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1200" Action="None" /> <!--SA1200UsingDirectivesMustBePlacedCorrectly-->
    <Rule Id="SA1600" Action="None" /> <!--SA1600ElementsMustBeDocumented-->
    <Rule Id="SA1601" Action="None" /> <!--SA1601PartialElementsMustBeDocumented-->
    <Rule Id="SA1602" Action="None" /> <!--SA1602EnumerationItemsMustBeDocumented-->
    <Rule Id="SA1623" Action="None" /> <!--SA1623PropertySummaryDocumentationMustMatchAccessors-->
    <Rule Id="SA1633" Action="None" /> <!--SA1633FileMustHaveHeader-->
    <Rule Id="SA1117" Action="None" /> <!--SA1117ParametersMustBeOnSameLineOrSeparateLines-->
    <Rule Id="SA1123" Action="None" /> <!--SA1123DoNotPlaceRegionsWithinElements-->
    <Rule Id="SA1124" Action="None" /> <!--SA1124DoNotUseRegions-->
    <Rule Id="SA1101" Action="None" /> <!--SA1101PrefixLocalCallsWithThis-->
    <Rule Id="SX1101" Action="None" /> <!--SX1101DoNotPrefixLocalMembersWithThis-->
    <Rule Id="SA1309" Action="None" /> <!--SA1309FieldNamesMustNotBeginWithUnderscore-->
    <Rule Id="SX1309" Action="None" /> <!--SX1309FieldNamesMustBeginWithUnderscore-->
    <Rule Id="SX1309S" Action="None" /> <!--SX1309SStaticFieldNamesMustBeginWithUnderscore-->
    <Rule Id="IDE0005" Action="Error" /> <!--IDE0005UsingDirectiveIsUnnecessary-->
  </Rules>
</RuleSet>